# kNN based Recommender Engine

In [ ]:
#import packages
import pandas as pd
import numpy as np

In [ ]:
#reading data from website
movies = pd.read_csv('https://github.com/ArinB/CA05-kNN/raw/master/movies_recommendation_data.csv')
movies

    Movie ID                        Movie Name  ...  History  Label
0         58                The Imitation Game  ...        0      0
1          8                        Ex Machina  ...        0      0
2         46                  A Beautiful Mind  ...        0      0
3         62                 Good Will Hunting  ...        0      0
4         97                      Forrest Gump  ...        0      0
5         98                                21  ...        1      0
6         31                            Gifted  ...        0      0
7          3               Travelling Salesman  ...        0      0
8         51                            Avatar  ...        0      0
9         47                    The Karate Kid  ...        0      0
10        50            A Brilliant Young Mind  ...        0      0
11        49                    A Time To Kill  ...        0      0
12        30                      Interstellar  ...        0      0
13        94           The Wolf of Wall Street  ...        0      0
14         6                     Black Panther  ...        0      0
15        73                         Inception  ...        0      0
16        44                    The Wind Rises  ...        0      0
17        65                     Spirited Away  ...        0      0
18        48                 Finding Forrester  ...        0      0
19        27                      The Fountain  ...        0      0
20        57                  The DaVinci Code  ...        0      0
21        57                 Stand and Deliver  ...        0      0
22        14                    The Terminator  ...        0      0
23        69                    21 Jump Street  ...        0      0
24        98                      The Avengers  ...        0      0
25        17                    Thor: Ragnarok  ...        0      0
26        12  Spirit: Stallion of the Cimarron  ...        0      0
27         1                     Hacksaw Ridge  ...        1      0
28        86                  12 Years a Slave  ...        1      0
29        46                    Queen of Katwe  ...        0      0

[30 rows x 11 columns]

In [ ]:
#check missing values
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Movie ID     30 non-null     int64
 1   Movie Name   30 non-null     object
 2   IMDB Rating  30 non-null     float64
 3   Biography    30 non-null     int64
 4   Drama        30 non-null     int64
 5   Thriller     30 non-null     int64
 6   Comedy       30 non-null     int64
 7   Crime        30 non-null     int64
 8   Mystery      30 non-null     int64
 9   History      30 non-null     int64
 10  Label        30 non-null     int64
dtypes: float64(1), int64(9), object(1)
memory usage: 2.7+ KB

In [ ]:
movies.isnull().sum()

Movie ID       0
Movie Name     0
IMDB Rating    0
Biography      0
Drama          0
Thriller       0
Comedy         0
Crime          0
Mystery        0
History        0
Label          0
dtype: int64

In [16]:
movies = movies.drop(columns='Label')

In [17]:
movies.columns

Index(['Movie ID', 'Movie Name', 'IMDB Rating', 'Biography', 'Drama',
       'Thriller', 'Comedy', 'Crime', 'Mystery', 'History'],
      dtype='object')

In [18]:
movies.head()

   Movie ID          Movie Name  IMDB Rating  ...  Crime  Mystery  History
0        58  The Imitation Game          8.0  ...      0        0        0
1         8          Ex Machina          7.7  ...      0        1        0
2        46    A Beautiful Mind          8.2  ...      0        0        0
3        62   Good Will Hunting          8.3  ...      0        0        0
4        97        Forrest Gump          8.8  ...      0        0        0

[5 rows x 10 columns]

In [19]:
x = movies[['IMDB Rating', 'Biography', 'Drama',
       'Thriller', 'Comedy', 'Crime', 'Mystery', 'History']]
y = movies['Movie Name']

In [20]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=5)
neigh.fit(x, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [23]:
post = neigh.kneighbors([[7.2, 1, 1, 0, 0, 0, 0, 1]], return_distance=False)
post

array([[28, 27, 29, 16,  2]])

In [24]:
#find 5 movies

for five_movies in post:
  print(movies.iloc[five_movies]['Movie Name'])

28    12 Years a Slave
27       Hacksaw Ridge
29      Queen of Katwe
16      The Wind Rises
2     A Beautiful Mind
Name: Movie Name, dtype: object